<div class="relative w-full bg-accent/50" routerLink="/about">
  <!-- Space around about container can be clicked to close about info -->
  <div
    class="w-[75%] bg-bgLight dark:bg-accent m-auto p-2"
    (click)="$event.stopPropagation()"
  >
    <img
      class="h-8 w-8 absolute block right-0 hover:scale-[1.02] hover:cursor-pointer hover:opacity-90"
      routerLink="/about"
      src="../../../assets/exitbutton.png"
      alt="exit button"
    />
    <!-- Header of about -->
    <div
      class="flex flex-row items-center justify-between h-20 normal-screen:h-44"
    >
      <p
        class="text-2xl font-bold text-primary dark:text-secondary font-semibold normal-screen:text-5xl"
      >
        {{ aboutInfo?.title }}
      </p>
      <div class="h-16 w-16 normal-screen:h-32 normal-screen:w-32">
        <img
          class="object-contain rounded"
          src="{{ aboutInfo?.picture }}"
          alt="{{ aboutInfo?.picutreDescription }}"
        />
      </div>
    </div>
    <!-- Main text -->
    <p
      class="text-primary dark:text-secondary text-lg normal-screen:text-2xl transition duration-300"
    >
      {{ aboutInfo?.description }}
    </p>
  </div>
</div>
