<div
  class="w-full h-24 flex bg-bgLight dark:bg-bgDark transition duration-500 z-10"
>
  <div class="grid w-full grid-cols-5">
    <!-- Profile picture div -->
    <div
      class="h-24 flex row-start-1 col-start-1 w-0 phone-screen:w-44 invisible small-screen:visible"
    >
      <div
        class="group/profile w-44 flex items-center space-x-4 p-1 hover:cursor-pointer hover:opacity-90"
        routerLink="home"
      >
        <img
          src="../../assets/georgebanacos.png"
          alt="A picture of George Banacos"
          class="group-hover/profile:scale-105 rounded-full h-20 border-2 border-solid border-black border-secondary dark:border-primary transition duration-500"
        />
        <p
          class="group-hover/profile:scale-105 text-lg font-bold text-primary dark:text-secondary transition duration-500"
        >
          George Banacos
        </p>
      </div>
    </div>
    <!-- All navbar elements including darkmode and themes  -->
    <div
      class="flex h-full grow justify-between items-center row-start-1 col-start-1 col-end-6 small-screen:col-start-2"
    >
      <!-- w-0 because if it isn't it gets its width from the navbar and doesn't shrink past a certain point -->
      <div class="grid h-24 w-0">
        <div
          class="h-full w-28 ml-5 row-start-1 col-start-1"
          (click)="toggleDropdown()"
        >
          <div
            class="h-full flex flex-col justify-between p-2 small-screen:invisible hover:scale-105 hover:cursor-pointer hover:opacity-90"
          >
            <div
              class="w-full bg-primary dark:bg-secondary transition duration-500 h-5 rounded-md"
            ></div>
            <div
              class="w-full bg-primary dark:bg-secondary transition duration-500 h-5 rounded-md"
            ></div>
            <div
              class="w-full bg-primary dark:bg-secondary transition duration-500 h-5 rounded-md"
            ></div>
          </div>
        </div>
        <!-- The dropdown menu -->
        <div
          *ngIf="isDropdownSelected"
          class="absolute bg-bgLight dark:bg-bgDark w-full z-1 font-bold text-accent text-2xl mt-24 small-screen:invisible"
        >
          <hr class="divide-neutral-800" />
          <div
            class="hover:cursor-pointer hover:opacity-90 my-3"
            routerLink="home"
            (click)="toggleDropdown()"
          >
            <p
              class="hover:cursor-pointer hover:scale-110 w-fit m-auto transition duration-500"
            >
              Home
            </p>
          </div>
          <hr class="divide-neutral-800" />
          <div
            class="hover:cursor-pointer hover:opacity-90 my-3"
            routerLink="portfolio"
            (click)="toggleDropdown()"
          >
            <p
              class="hover:cursor-pointer hover:scale-110 w-fit m-auto transition duration-500"
            >
              Portfolio
            </p>
          </div>
          <hr />
          <div
            class="hover:cursor-pointer hover:opacity-90 my-3"
            routerLink="about"
            (click)="toggleDropdown()"
          >
            <p
              class="hover:cursor-pointer hover:scale-110 w-fit m-auto transition duration-500"
            >
              About
            </p>
          </div>
          <hr />
          <div
            class="hover:cursor-pointer hover:opacity-90 my-3"
            routerLink="experience"
            (click)="toggleDropdown()"
          >
            <p
              class="hover:cursor-pointer hover:scale-110 w-fit m-auto transition duration-500"
            >
              Experience
            </p>
          </div>
          <hr />
          <div
            class="hover:cursor-pointer hover:opacity-90 my-3"
            routerLink="contact"
            (click)="toggleDropdown()"
          >
            <p
              class="hover:cursor-pointer hover:scale-110 w-fit m-auto transition duration-500"
            >
              Contact
            </p>
          </div>
          <hr />
        </div>
        <!-- small screen nav bar across -->
        <div
          class="flex items-center h-24 row-start-1 col-start-1 small-screen:visible invisible normal-screen:w-[1000px] normal-screen:justify-between"
        >
          <div
            class="flex space-x-10 items-center grow p-16 font-bold text-lg text-primary dark:text-secondary transition duration-500 normal-screen:justify-between normal-screen:text-2xl"
          >
            <div
              class="hover:cursor-pointer hover:scale-105 text-center transition duration-500"
              routerLink="home"
            >
              Home
            </div>
            <div
              class="hover:cursor-pointer hover:scale-105 text-center transition duration-500"
              routerLink="portfolio"
            >
              Portfolio
            </div>
            <div
              class="hover:cursor-pointer hover:scale-105 text-center transition duration-500"
              routerLink="about"
            >
              About
            </div>
            <div
              class="hover:cursor-pointer hover:scale-105 text-center transition duration-500"
              routerLink="experience"
            >
              Experience
            </div>
            <div
              class="hover:cursor-pointer hover:scale-105 text-center transition duration-500"
              routerLink="contact"
            >
              Contact
            </div>
          </div>
        </div>
      </div>
      <!-- Color selection div -->
      <div class="flex items-center justify-between w-44 h-full p-3">
        <select
          class="w-20 grow h-full rounded-full p-1 font-bold text-primary bg-bgLight hover:cursor-pointer hover:scale-105"
        >
          <option
            class="text-black-100"
            (click)="this.themeService.setTheme('black')"
          >
            Black
          </option>
          <option
            class="text-orangeMode"
            (click)="this.themeService.setTheme('orange')"
          >
            Orange
          </option>
          <option
            class="text-purpleMode"
            (click)="this.themeService.setTheme('purple')"
          >
            Purple
          </option>
          <option
            class="text-greenMode"
            (click)="this.themeService.setTheme('green')"
          >
            Green
          </option>
          <option
            class="text-redMode"
            (click)="this.themeService.setTheme('red')"
          >
            Red
          </option>
          <option
            class="text-blueMode"
            (click)="this.themeService.setTheme('blue')"
          >
            Blue
          </option>
        </select>
        <!-- Dark mode section -->
        <img
          src="{{ this.themeService.getDarkModePhoto() }}"
          alt="Light/darkmode photo"
          class="w-16 h-12 hover:opacity-90 hover:cursor-pointer hover:scale-105 object-cover"
          (click)="toggleDarkMode()"
        />
      </div>
    </div>
  </div>
</div>
