<div class="pt-12 pl-2 w-6/12 flex justify-between w-full">
  <div class="basis-6/12 bg-green-100">
    <p
      class="text-2xl text-primary dark:text-secondary font-semibold transition duration-500"
    >
      &#60;p class="2025" id="awesome"&#62;
    </p>
    <div class="flex items-center">
      <p class="text-5xl font-bold pl-10 text-accent">Hi, My Name is</p>
      <p
        class="text-6xl font-bold pl-5 text-primary dark:text-secondary transition duration-500"
      >
        George.
      </p>
    </div>
    <p class="text-5xl font-bold pl-10 pt-5 text-accent">I Make Software.</p>
    <p
      class="text-2xl text-primary dark:text-secondary font-semibold transition duration-500"
    >
      &#60;/p&#62;
    </p>
    <p class="text-xl font-bold pl-5 pt-5 text-accent">
      I am an enthusiatic Software Developer who loves to learn and create
      awesome software. Whether it is Front-end or Back-end, I can do it all!
    </p>
  </div>
  <img
    src="../../assets/frontpagegeorge.png "
    alt="A picture of George"
    class="w-5/12 scale-110 mr-10 overflow-hidden"
  />
</div>
