<div
  class="home-container pt-12 pl-2 flex w-full h-full justify-between small-screen:flex-row flex-col"
>
  <!-- The text information section -->
  <div class="basis-6/12">
    <p
      class="text-center small-screen:text-left text-lg small-screen:text-2xl normal-screen:text-5xl text-primary dark:text-secondary font-semibold transition duration-500"
    >
      &#60;p class="2025" id="awesome"&#62;
    </p>
    <div class="flex items-center mx-auto small-screen:m-0 w-fit">
      <p
        class="text-xl small-screen:text-left small-screen:text-3xl normal-screen:text-6xl font-bold small-screen:pl-10 text-accent"
      >
        Hi, My Name is
      </p>
      <p
        class="text-3xl small-screen:text-left small-screen:text-5xl normal-screen:text-9xl font-bold pl-2 small-screen:pl-5 text-primary dark:text-secondary transition duration-500"
      >
        George.
      </p>
    </div>
    <p
      class="text-center text-xl small-screen:text-left small-screen:text-3xl normal-screen:text-6xl font-bold small-screen:pl-10 pt-5 text-accent"
    >
      I Make Software.
    </p>
    <p
      class="text-center text-lg small-screen:text-left small-screen:text-2xl normal-screen:text-5xl text-primary dark:text-secondary font-semibold transition duration-500"
    >
      &#60;/p&#62;
    </p>
    <p
      class="text-center text-xl small-screen:text-left small-screen:text-xl normal-screen:text-3xl font-bold phone-screen:ml-5 pt-5 text-accent normal-screen:w-1/2"
    >
      I am an enthusiatic Software Developer who loves to learn and create
      awesome software. Whether it is Front-end or Back-end, I can do it all! I
      have knowledge of many languages such as Python, Java, C, C++, C#,
      Javascript, HTML, CSS and React. I am familiar with SQL databases. I can
      pick up new languages and frameworks quickly and long to contribute to a
      team.
    </p>
  </div>
  <!-- End of text section div -->
  <!-- The div for my face -->
  <div
    class="flex max-h-full basis-4/12 normal-screen:basis-1/2 items-end justify-end invisible phone-screen:visible"
  >
    <img
      src="../../assets/frontpagegeorge.png "
      alt="A picture of George"
      class="normal-screen:w-9/12 object-fill object-bottom"
    />
  </div>
</div>
